<!-- public/views/home.html -->

<map center="[{{lat}},{{lon}}]" zoom ='5'>
    <marker position="[{{lat}},{{lon}}]" visible="true"></marker>
</map>
<!-- lat -->
<div class="form-group">
        <label class="control-label" for="content">Latitude</label>
                <div class="controls">
                        <textarea name="lat" data-ng-model="lat" id="lat" class="form-control" cols="10" rows="1" placeholder="Latitude"></textarea>
                </div>
                </div>
<!-- lon -->
<div class="form-group">
        <label class="control-label" for="content">Longitude</label>
                <div class="controls">
                        <textarea name="lon" data-ng-model="lon" id="lon" class="form-control" cols="10" rows="1" placeholder="Longitude"></textarea>
                </div>
</div>